build
.*.sw[po]
*~
*.pyc
*.pyo
*.egg-info
MANIFEST
dist
setuptools*egg
setuptools.pth
setuptools*tar.gz
distribute*egg
distribute*tar.gz

.cache
.mypy_cache

*.dat
notebooks
examples
test/install.sh
test/*_mech.py
pyrometheus/thermochem_example.py
