build
.DS_Store
.*.sw[po]
*~
*.pyc
*.pyo
*.egg-info
MANIFEST
dist
setuptools*egg
setuptools.pth
setuptools*tar.gz
distribute*egg
distribute*tar.gz

.cache
.mypy_cache

*.dat
notebooks
test/install.sh
test/generated-mechs/*.py
test/mechs/*.py
test/mechs/*.hpp
*.so
