name: CI
on:
    push:
        branches:
        - master
    pull_request:
    schedule:
        - cron:  '17 3 * * 0'

jobs:
    flake8:
        name: Flake8
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v2
        -
            uses: actions/setup-python@v1
            with:
                python-version: '3.x'
        -   name: "Main Script"
            run: |
                curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/master/prepare-and-run-flake8.sh
                . ./prepare-and-run-flake8.sh "$(basename $GITHUB_REPOSITORY)" test

    flake8_gen:
        name: Flake8 on Generated Code
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v2
        -   name: "Main Script"
            run: |
                CONDA_ENVIRONMENT=.test-conda-env-py3.yml
                curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/master/ci-support.sh
                . ./ci-support.sh
                build_py_project_in_conda_env
                python -m pip install flake8 pep8-naming flake8-quotes flake8-bugbear
                python .ci/generate-test-mech.py
                flake8 --extend-ignore E501,Q000 test/mechs

    pytest:
        name: Pytest Conda Py
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v2
        -   name: "Main Script"
            run: |
                CONDA_ENVIRONMENT=.test-conda-env-py3.yml
                curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/master/build-and-test-py-project-within-miniconda.sh
                . ./build-and-test-py-project-within-miniconda.sh

    # examples3:
    #     name: Examples Conda Py
    #     runs-on: ubuntu-latest
    #     steps:
    #     -   uses: actions/checkout@v2
    #     -   name: "Main Script"
    #         run: |
    #             CONDA_ENVIRONMENT=.test-conda-env-py3.yml
    #             USE_CONDA_BUILD=1
    #             curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/master/build-py-project-and-run-examples.sh
    #             . ./build-py-project-and-run-examples.sh

    docs:
        name: Documentation
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v2
        -
            uses: actions/setup-python@v1
            with:
                python-version: '3.x'
        -   name: "Main Script"
            run: |
                CONDA_ENVIRONMENT=.test-conda-env-py3.yml
                curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/master/ci-support.sh
                . ci-support.sh
                build_py_project_in_conda_env
                python .ci/generate-example-mech.py test/mechs/sanDiego.cti pyrometheus/thermochem_example.py
                build_docs

    downstream_tests:
        strategy:
            matrix:
                downstream_project: [mirgecom]
        name: Tests for downstream project ${{ matrix.downstream_project }}
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v2
        -   name: "Main Script"
            env:
                DOWNSTREAM_PROJECT: ${{ matrix.downstream_project }}
            run: |
                git clone "https://github.com/illinois-ceesd/$DOWNSTREAM_PROJECT.git"
                cd "$DOWNSTREAM_PROJECT"
                echo "*** $DOWNSTREAM_PROJECT version: $(git rev-parse --short HEAD)"
                sed -i "/egg=pyrometheus/ c git+file://$(readlink -f ..)#egg=pyrometheus" requirements.txt
                # Avoid slow or complicated tests in downstream projects
                export PYTEST_ADDOPTS="-k 'not (slowtest or octave or mpi)'"
                if test "$DOWNSTREAM_PROJECT" = "mirgecom"; then
                    # can't turn off MPI in mirgecom
                    sudo apt-get update
                    sudo apt-get install openmpi-bin libopenmpi-dev
                    export CONDA_ENVIRONMENT=conda-env.yml
                else
                    sed -i "/mpi4py/ d" requirements.txt
                    export CONDA_ENVIRONMENT=.test-conda-env-py3.yml

                fi
                curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/master/ci-support.sh
                . ./ci-support.sh
                build_py_project_in_conda_env

                export CISUPPORT_PARALLEL_PYTEST=no
                test_py_project

# vim: sw=4
